<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liveneo.adapter.assessment.dao.LaborHourMapper">
    <resultMap id="BaseResultMap" type="com.liveneo.adapter.assessment.model.LaborHour">
        <id column="labor_hour_id" jdbcType="VARCHAR" property="laborHourId"/>
        <result column="case_no" jdbcType="VARCHAR" property="caseNo"/>
        <result column="loss_id" jdbcType="VARCHAR" property="lossId"/>
        <result column="labor_hour_name" jdbcType="VARCHAR" property="laborHourName"/>
        <result column="labor_hour" jdbcType="VARCHAR" property="laborHour"/>
        <result column="hourly_pay" jdbcType="VARCHAR" property="hourlyPay"/>
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        labor_hour_id, case_no, loss_id, labor_hour_name, labor_hour, hourly_pay, CREATE_BY,
        CREATE_TIME, UPDATE_BY, UPDATE_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from labor_hour
        where labor_hour_id = #{laborHourId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from labor_hour
        where labor_hour_id = #{laborHourId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.liveneo.adapter.assessment.model.LaborHour">
        insert into labor_hour (labor_hour_id, case_no, loss_id,
        labor_hour_name, labor_hour, hourly_pay,
        CREATE_BY, CREATE_TIME, UPDATE_BY,
        UPDATE_TIME)
        values (#{laborHourId,jdbcType=VARCHAR}, #{caseNo,jdbcType=VARCHAR}, #{lossId,jdbcType=VARCHAR},
        #{laborHourName,jdbcType=VARCHAR}, #{laborHour,jdbcType=VARCHAR}, #{hourlyPay,jdbcType=VARCHAR},
        #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.liveneo.adapter.assessment.model.LaborHour">
        insert into labor_hour
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="laborHourId != null">
                labor_hour_id,
            </if>
            <if test="caseNo != null">
                case_no,
            </if>
            <if test="lossId != null">
                loss_id,
            </if>
            <if test="laborHourName != null">
                labor_hour_name,
            </if>
            <if test="laborHour != null">
                labor_hour,
            </if>
            <if test="hourlyPay != null">
                hourly_pay,
            </if>
            <if test="createBy != null">
                CREATE_BY,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateBy != null">
                UPDATE_BY,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="laborHourId != null">
                #{laborHourId,jdbcType=VARCHAR},
            </if>
            <if test="caseNo != null">
                #{caseNo,jdbcType=VARCHAR},
            </if>
            <if test="lossId != null">
                #{lossId,jdbcType=VARCHAR},
            </if>
            <if test="laborHourName != null">
                #{laborHourName,jdbcType=VARCHAR},
            </if>
            <if test="laborHour != null">
                #{laborHour,jdbcType=VARCHAR},
            </if>
            <if test="hourlyPay != null">
                #{hourlyPay,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.liveneo.adapter.assessment.model.LaborHour">
        update labor_hour
        <set>
            <if test="caseNo != null">
                case_no = #{caseNo,jdbcType=VARCHAR},
            </if>
            <if test="lossId != null">
                loss_id = #{lossId,jdbcType=VARCHAR},
            </if>
            <if test="laborHourName != null">
                labor_hour_name = #{laborHourName,jdbcType=VARCHAR},
            </if>
            <if test="laborHour != null">
                labor_hour = #{laborHour,jdbcType=VARCHAR},
            </if>
            <if test="hourlyPay != null">
                hourly_pay = #{hourlyPay,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where labor_hour_id = #{laborHourId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.liveneo.adapter.assessment.model.LaborHour">
        update labor_hour
        set case_no = #{caseNo,jdbcType=VARCHAR},
        loss_id = #{lossId,jdbcType=VARCHAR},
        labor_hour_name = #{laborHourName,jdbcType=VARCHAR},
        labor_hour = #{laborHour,jdbcType=VARCHAR},
        hourly_pay = #{hourlyPay,jdbcType=VARCHAR},
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        where labor_hour_id = #{laborHourId,jdbcType=VARCHAR}
    </update>
</mapper>