<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="logan.exemple.service.monitoring.dao.SysLogMapper">
    <resultMap id="BaseResultMap" type="logan.exemple.service.monitoring.model.SysLog">
        <id column="log_id" jdbcType="INTEGER" property="logId"/>
        <result column="sys_name" jdbcType="VARCHAR" property="sysName"/>
        <result column="sys_code" jdbcType="VARCHAR" property="sysCode"/>
        <result column="service_name" jdbcType="VARCHAR" property="serviceName"/>
        <result column="service_code" jdbcType="VARCHAR" property="serviceCode"/>
        <result column="method_name" jdbcType="VARCHAR" property="methodName"/>
        <result column="request_data" jdbcType="VARCHAR" property="requestData"/>
        <result column="response_data" jdbcType="VARCHAR" property="responseData"/>
        <result column="log_type" jdbcType="TINYINT" property="logType"/>
        <result column="updata_time" jdbcType="TIMESTAMP" property="updataTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        log_id, sys_name, sys_code, service_name, service_code, method_name, request_data,
        response_data, log_type, updata_time, create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_log
        where log_id = #{logId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_log
        where log_id = #{logId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="logan.exemple.service.monitoring.model.SysLog">
        insert into sys_log (log_id, sys_name, sys_code,
        service_name, service_code, method_name,
        request_data, response_data, log_type,
        updata_time, create_time)
        values (#{logId,jdbcType=INTEGER}, #{sysName,jdbcType=VARCHAR}, #{sysCode,jdbcType=VARCHAR},
        #{serviceName,jdbcType=VARCHAR}, #{serviceCode,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR},
        #{requestData,jdbcType=VARCHAR}, #{responseData,jdbcType=VARCHAR}, #{logType,jdbcType=TINYINT},
        #{updataTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="logan.exemple.service.monitoring.model.SysLog">
        insert into sys_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                log_id,
            </if>
            <if test="sysName != null">
                sys_name,
            </if>
            <if test="sysCode != null">
                sys_code,
            </if>
            <if test="serviceName != null">
                service_name,
            </if>
            <if test="serviceCode != null">
                service_code,
            </if>
            <if test="methodName != null">
                method_name,
            </if>
            <if test="requestData != null">
                request_data,
            </if>
            <if test="responseData != null">
                response_data,
            </if>
            <if test="logType != null">
                log_type,
            </if>
            <if test="updataTime != null">
                updata_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                #{logId,jdbcType=INTEGER},
            </if>
            <if test="sysName != null">
                #{sysName,jdbcType=VARCHAR},
            </if>
            <if test="sysCode != null">
                #{sysCode,jdbcType=VARCHAR},
            </if>
            <if test="serviceName != null">
                #{serviceName,jdbcType=VARCHAR},
            </if>
            <if test="serviceCode != null">
                #{serviceCode,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="requestData != null">
                #{requestData,jdbcType=VARCHAR},
            </if>
            <if test="responseData != null">
                #{responseData,jdbcType=VARCHAR},
            </if>
            <if test="logType != null">
                #{logType,jdbcType=TINYINT},
            </if>
            <if test="updataTime != null">
                #{updataTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="logan.exemple.service.monitoring.model.SysLog">
        update sys_log
        <set>
            <if test="sysName != null">
                sys_name = #{sysName,jdbcType=VARCHAR},
            </if>
            <if test="sysCode != null">
                sys_code = #{sysCode,jdbcType=VARCHAR},
            </if>
            <if test="serviceName != null">
                service_name = #{serviceName,jdbcType=VARCHAR},
            </if>
            <if test="serviceCode != null">
                service_code = #{serviceCode,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                method_name = #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="requestData != null">
                request_data = #{requestData,jdbcType=VARCHAR},
            </if>
            <if test="responseData != null">
                response_data = #{responseData,jdbcType=VARCHAR},
            </if>
            <if test="logType != null">
                log_type = #{logType,jdbcType=TINYINT},
            </if>
            <if test="updataTime != null">
                updata_time = #{updataTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where log_id = #{logId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="logan.exemple.service.monitoring.model.SysLog">
        update sys_log
        set sys_name = #{sysName,jdbcType=VARCHAR},
        sys_code = #{sysCode,jdbcType=VARCHAR},
        service_name = #{serviceName,jdbcType=VARCHAR},
        service_code = #{serviceCode,jdbcType=VARCHAR},
        method_name = #{methodName,jdbcType=VARCHAR},
        request_data = #{requestData,jdbcType=VARCHAR},
        response_data = #{responseData,jdbcType=VARCHAR},
        log_type = #{logType,jdbcType=TINYINT},
        updata_time = #{updataTime,jdbcType=TIMESTAMP},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where log_id = #{logId,jdbcType=INTEGER}
    </update>
</mapper>